# prevent java.lang.OutOfMemoryError: PermGen space
org.gradle.jvmargs : -XX:MaxPermSize=512m
org.gradle.daemon=true
#org.gradle.parallel=true


#####Broker native IBM JVM
org.gradle.java.home=C:\\rockit\\IBM\\MQSI\\9.0.0.2\\jre17
## Only for legacy createBar needed
#brokerToolkitDir=C:\\rockit\\IBM\\IntegrationToolkit90
buildDir=c:\\temp\\gradle_build

brokerVersion = ib9

incrementalDeployment=true
parallelExecution=true    
enableMonitoring=true

